* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Hammersmith One', sans-serif;
}



/*header*/

.nav-color{
    background-image: linear-gradient( to top, rgb(41, 78, 17), rgb(46, 112, 46 ));
}

.nav-link{
    color: white;
}

.header__item{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.header__item a{
    color: white;
    text-decoration: none;
}

.header__item:hover{
    transform: scale(1.15, 1.15);
    transition: all 0,5s;
}

/*main*/

.main__titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color:rgb(41, 78, 17);
    font-family: 'Lato', sans-serif;
    color: white
}


.main__titulo--principal{
    font-family: 'Cardo', serif;
}

/*main index*/

.fondo__principal{
    display: grid;
    width: 100%;
    height: 165vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr 1fr;
    grid-template-areas: "fondo"
                        "slogan"
                        "car";
    background-color: rgb(41, 78, 17);
}

.fondo {
    grid-area: fondo;
    background-image:url("../recursos/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.slogan{
    grid-area: slogan;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Yellowtail', cursive;
    background-image: linear-gradient( to top, rgb(41, 78, 17), rgb(46, 112, 46));
    color: white;
    justify-content: center;
    align-items: center;
}

.car{
    grid-area: car;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
}

/*main contacto*/

.main__contacto{
    background-image: linear-gradient( to top, rgb(46, 112, 46), rgb(70, 121, 70));
}

.btn{
    background-color: aliceblue;
}

.datos{
    color: white;
    font-size: 40px;
}


.mapa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


/* hacienda*/


/*main productos*/


/*main sobre nosotros*/

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*footer*/

.footer__derechos{
    background-color: rgb(41, 78, 17); 
    color:white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 16px;
}

/*media querie celular*/

@media (min-width: 320px) and (max-width: 575px) {

/*modificacion header*/



/*modificacion index*/

    .fondo__principal{
        height: 100%;
        grid-template-columns:1fr;
        grid-template-rows:2fr 1fr 1fr;
        grid-template-areas: "fondo"
                        " slogan"
                        "car";
    }

    .slogan{
        font-size:15px ;
        text-align: center;
    }


/*contacto*/
    .form{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    } 

    .datos{
        flex-direction: column;
        align-items: flex-start;
        font-size: 25px;
    }


    .mapa{
        flex-direction: column;
        align-items: center;
    }

/*modificacion hacienda*/


/*modificacion productos*/

    .img{
        height: 100%;
    }

}

/*media querie tablet*/

@media (min-width: 576px) and (max-width: 992px) {

/*modificacion index*/

    .fondo__principal{
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 1fr 1fr;
        grid-template-areas: "fondo"
                            "slogan"
                            "car";
    }

    .slogan{
        font-size:25px;
        text-align: center;
    }

/*contacto*/

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
} 


    .datos{
        font-size: 25px;
    }


/*modificacion hacienda*/


/*modificacion productos*/

}

