/*main contacto*/

.main__contacto{
    background-image: linear-gradient( to top, $color-principal, rgb(70, 121, 70));
    .btn{
        background-color: aliceblue;
    }
    
    .datos{
        color: white;
        font-size: 25px;
        list-style: none;
    }
    
    
    .mapa{
        display: flex;
        @include flex (column, flex-start);
        width: 100%;
    }
}