/*main index*/

.fondo__principal{
    display: grid;
    width: 100%;
    height: 165vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr 1fr;
    grid-template-areas: "fondo"
                        "slogan"
                        "car";
    background-color: $color-principal;
    .fondo {
        grid-area: fondo;
        background-image:url("../recursos/fondo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .slogan{
        display: flex;
        flex-wrap: wrap;
        grid-area: slogan;
        font-family: 'Yellowtail', cursive;
        background-image: linear-gradient( to top, $color-principal, $color-secundario);
        color: white;
        justify-content: center;
        align-items: center;
    }
    .car{
        grid-area: car;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        background-color: $color-principal;
    }
}
